In [1]:
import pandas as pd
import os

# 1. File paths for your model outputs
output_filepaths = {
    "panjiva_paraguay_exports" : "/home/nikhikhas/TradeSweep/datasets/panjiva_paraguay_exports_2018_02_16_180134.csv"
}

# Dictionary to store filtered DataFrames
filtered_dataframes = {}

# 2. Loop through files and process
for model, filepath in output_filepaths.items():
    print(f"Processing {model} from {filepath}...")
    
    # Load the CSV
    df = pd.read_csv(filepath)
    
    # Ensure HSCode exists in the file
    if 'HSCode' not in df.columns:
        print(f"Skipping {model} - 'HSCode' column not found.")
        continue
    
    # Convert to string & strip spaces to preserve leading zeros
    df['HSCode'] = df['HSCode'].astype(str).str.strip()
    
    # Filter rows
    filtered_df = df[
        df['HSCode'].str.startswith('03') |
        df['HSCode'].str.startswith('3') |
        df['HSCode'].str.startswith('1604') |
        df['HSCode'].str.startswith('1605')
    ]
    
    # Save filtered file
    out_path = os.path.splitext(filepath)[0] + "_filtered.csv"
    filtered_df.to_csv(out_path, index=False)
    
    # Store filtered DataFrame in dictionary
    filtered_dataframes[model] = filtered_df
    
    print(f"{model}: {filtered_df.shape[0]} rows kept, saved to {out_path}")

print("All processing complete.")

# Now you can access the filtered DataFrame
filtered_dataframes["panjiva_paraguay_exports"]

Processing panjiva_paraguay_exports from /home/nikhikhas/TradeSweep/datasets/panjiva_paraguay_exports_2018_02_16_180134.csv...
panjiva_paraguay_exports: 997 rows kept, saved to /home/nikhikhas/TradeSweep/datasets/panjiva_paraguay_exports_2018_02_16_180134_filtered.csv
All processing complete.

/localscratch/ipykernel_3414760/3871636938.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,PanjivaRecordID,ShipmentDate,DataLoadDate,DataLaunchDate,ConsigneeName,ConsigneeFullAddress,ConsigneeRoute,ConsigneeCity,ConsigneeStateRegion,ConsigneePostalCode,...,ItemUnit,GrossWeightKg,NetWeightKg,ValueOfGoodsCIFUSD,ValueOfGoodsFOBUSD,FreightValueUSD,ValueOfGoodsItemFOBUSD,InsuranceValueUSD,ManifestNumber,Brand
0,489266,2018-01-03,2018-02-12,2018-02-14,NaN,NaN,NaN,NaN,NaN,NaN,...,unid.,866.0,805.0,4162,4162,NaN,1.0,NaN,NaN,GALMEDIC
13,489422,2018-01-03,2018-02-12,2018-02-14,No Aplica,NaN,NaN,NaN,NaN,NaN,...,cajas,55221.0,50806.0,80256,80256,NaN,514.0,NaN,NaN,NaN
18,489482,2018-01-05,2018-02-12,2018-02-14,No Aplica,NaN,NaN,NaN,NaN,NaN,...,unid.,11912.0,10743.0,20627,19230,1397.0,42.0,NaN,NaN,NaN
26,489578,2018-01-08,2018-02-12,2018-02-14,No Aplica,NaN,NaN,NaN,NaN,NaN,...,unid.,156.0,143.0,3680,3680,NaN,NaN,NaN,NaN,INDUFAR CISA
27,489590,2018-01-03,2018-02-12,2018-02-14,No Aplica,NaN,91 25 de Agosto,Salto,Salto,50000.0,...,unid.,139.0,139.0,4320,4320,NaN,1.0,NaN,NaN,ZEIMOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11497,500380,2018-01-26,2018-02-12,2018-02-14,No Aplica,NaN,NaN,NaN,NaN,NaN,...,unid.,354.0,309.0,1081,865,184.0,NaN,32.0,NaN,QUIMFA S.A.
11502,500440,2018-01-29,2018-02-12,2018-02-14,No Aplica,NaN,NaN,NaN,NaN,NaN,...,unid.,134.0,127.0,763,719,37.0,NaN,7.0,NaN,KOMPAR
11510,500536,2018-01-24,2018-02-12,2018-02-14,No Aplica,NaN,NaN,NaN,NaN,NaN,...,millar,26.0,23.0,78,78,NaN,8.0,NaN,18023MANE000591X,NaN
11517,500620,2018-01-29,2018-02-12,2018-02-14,No Aplica,NaN,NaN,NaN,NaN,NaN,...,unid.,164.0,152.0,791,746,38.0,NaN,7.0,NaN,KOMPAR
11521,500668,2018-01-31,2018-02-12,2018-02-14,No Aplica,NaN,39 Carrer de Pastora Martos,Sant Cugat del Vallès,Catalonia,8174.0,...,unid.,230.0,230.0,677,677,NaN,25.0,NaN,NaN,NaN